.drop-animation-banner {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: drop 2s forwards;
  }
  
  @keyframes drop {
    0% {
      top: 5%;
    }
    100% {
      top: 40%;
    }
  }

