.pagination {
    justify-content: center;
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: 0;
  }
  
 
  
  .page-item a.page-link:hover {
    background-color: #cccccc;
  }
  
  .page-item.active .page-link {
    font-weight: 700;
    color: #ffffff;
    background-color: #FB000A;
    border:none;
  }

  .page-item.active{
    border:none;
  }

  .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
  }