 .swiper {
    height: 250px !important;
    width: 100%;
  } 
  

.first_image{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg,#fb0008b5,#4382ffb4 53%,transparent 50% ),url(https://images.unsplash.com/photo-1497436072909-60f360e1d4b1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2560&q=80);
    background-size: 100% 100%;
   
}

.second_image{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg,#fb000899,#4382ffa7 53%,transparent 50% ),url(https://images.unsplash.com/photo-1493246507139-91e8fad9978e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2940&q=80);
    background-size: 100% 100%;
   
}

.third_image{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(120deg,#fb00089b,#4382ff9f 53%,transparent 50% ),url(https://images.unsplash.com/photo-1518623489648-a173ef7824f3?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2762&q=80);
    background-size: 100% 100%;
   
    
}

.drop-animation {
  position: absolute;
  top: 5%;
  left: 52%;
  transform: translate(-40%, -50%);
  animation: drop-small 2s forwards;
}

  
@keyframes drop-small {
0% {
  top: 5%;
}
100% {
  top: 40%;
}
}

@media screen and (min-width: 427px) {
  .swiper {
    height: 250px !important;
    width: 100%;
  } 
  
  .drop-animation {
    position: absolute;
    top: 5%;
    left: 52%;
    transform: translate(-45%, -50%);
    animation: drop-small 2s forwards;
  }
  
    
  @keyframes drop-medium {
  0% {
    top: 5%;
  }
  100% {
    top: 40%;
  }
  }
}

@media screen and (min-width: 500px) {
  .swiper {
    height: 250px !important;
    width: 100%;
  } 
  
  .drop-animation {
    position: absolute;
    top: 5%;
    left: 52%;
    transform: translate(-53%, -50%);
    animation: drop-small 2s forwards;
  }

  
  
    
  @keyframes drop-medium {
  0% {
    top: 5%;
  }
  100% {
    top: 40%;
  }
  }
}

@media screen and (min-width: 600px) {
  .swiper {
    height: 250px !important;
    width: 100%;
  } 

  .banner-heading{
    font-size:1.5rem !important;
  }
  
  .drop-animation {
    position: absolute;
    top: 5%;
    left: 52%;
    transform: translate(-60%, -50%);
    animation: drop-small 2s forwards;
  }
  
  
    
  @keyframes drop-medium {
  0% {
    top: 5%;
  }
  100% {
    top: 40%;
  }
  }
}
@media screen and (min-width: 700px) {
  .swiper{
    width: 100%;
    height: 400px !important;
  }
  .drop-animation {
    position: absolute;
    top: 5%;
    left: 25%;
    transform: translate(-38%, -50%);
    animation: drop-medium 2s forwards;
  }
  .banner-heading {
    font-size: 2rem !important ;
  }
    
  @keyframes drop-medium {
  0% {
    top: 5%;
  }
  100% {
    top: 40%;
  }
  }
}
  
  @media screen and (min-width: 900px) {
    .swiper{
      width: 100%;
      height: 400px !important;
    }
    .drop-animation {
      position: absolute;
      top: 5%;
      left: 25%;
      transform: translate(-46%, -50%);
      animation: drop-medium 2s forwards;
    }
    .banner-heading {
      font-size: 2rem !important ;
    }
      
    @keyframes drop-medium {
    0% {
      top: 5%;
    }
    100% {
      top: 40%;
    }
    }
  }

  @media screen and (min-width: 960px) {
    .swiper{
      width: 100%;
      height: 400px !important;
    }
    .drop-animation {
      position: absolute;
      top: 5%;
      left: 25%;
      transform: translate(-38%, -50%);
      animation: drop-medium 2s forwards;
    }
    .banner-heading {
      font-size: 2.2rem !important ;
    }
    .banner-text {
      font-size: 1rem !important;
    }
      
    @keyframes drop-medium {
    0% {
      top: 5%;
    }
    100% {
      top: 40%;
    }
    }
  }

 
  @media screen and (min-width: 1200px) {
    .swiper{
      width: 100%;
      height: calc(100vh - 58px) !important;
 
    }
    .first_image {
      animation: zoomInBackground 25s forwards;
      animation-timing-function: ease-in;


    }
    .second_image {
      animation: zoomInBackground 25s forwards;
      animation-timing-function: ease-in;
    }
    .third_image {
      animation: zoomInBackground 25s forwards;
      animation-timing-function: ease-in;
    }
    .drop-animation {
      position: absolute;
      top: 5%;
      left: 25%;
      transform: translate(-50%, -50%);
      animation: drop-large 2s forwards;
    }

    .banner-heading {
      font-size: 3rem !important;
    }

      
  @keyframes drop-large {
    0% {
      top: 5%;
    }
    100% {
      top: 40%;
    }
  }
    
  } 

  @keyframes zoomInBackground {
    0% {
      background-size: 100%;
      background-position: center center;
    }
    100% {
      background-size: 150%;
      background-position: 50% 50%;
    }
  }
  