@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Brooklyn';
        src: url('/fonts/Brooklyn.otf');
        font-weight: normal;
    }
  
}

@layer base {
    .center {
        @apply flex justify-center items-center
    }
}